
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    border: 1px solid gray;
    width: fit-content;
    padding: 40px 70px;
    margin: auto;

}
.login, .register{
    width: 95px;
    height: 30px;
    position: absolute;
    color: white;
    border-radius: 30px;
    background-color: #2a5c8a;
}

.auth{color: #2a5c8a;}

